body {
  background-color: #ffe6f2;      
  font-family: 'Poppins', sans-serif;
  color: #5e4b8b;                 
  padding: 20px;
}

h1 {
  text-align: center;
  color: #7a62b9;
  font-weight: 600;
}

